
// We not supporting IE11 lol
.clear-fix {
  display: flow-root;
}


body { 
  // 62.5% is equal to 10px in most browsers, 
  // so it makes it easier to calculate REM units.
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(255, 122, 122);
  background-image: url('/bg-intro-desktop.png');
 }

 .container {
   display: flex;
   height: 100vh;
   flex-direction: column;
   align-items: center;
   @media only screen and (min-width: 768px){
     flex-direction: row;
    justify-content: center;
    align-items: center;
   }
 }

 .sales-copy {
   &__container {
    width: 90vw; 
    text-align: center;
    @media only screen and (min-width: 768px){
      text-align: left;
      width: 40vw;  
      height: 80vh;
      padding-left: 2em;
      padding-right: 2em;
      // justify-content: center;
      
      display: flex;
      flex-direction: column;
    }
   }

   &__header {
     margin-top: 6em;
    color: white;
    font-size:2.8em;
    font-weight: 600;

    @media only screen and (min-width: 768px){
      font-size: 5em;
      font-weight: bold;
    }
   }

   &__paragraph {
    color: white;
    font-size: 1.6em;
    font-weight: 300;
    line-height: 30px;
    @media only screen and (min-width: 768px){
      font-size: 1.6em;
      line-height: 1.8em;
      font-weight: 300;
    }
   }
 }


 .lead-gen {

   &__container {
    display: flex;
    flex-direction: column;
    width: 85vw;
    @media only screen and (min-width: 768px){
      width: 35vw;
    }
   }

   &__form {
    display: flex;
    flex-direction: column;
    padding: 2em;
    border-radius: 10px;
    background-color: white;
   }

   &__offer {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    font-size: 1.6em;
    
    
    background-color: hsl(248, 32%, 49%);
    color: white;
    border-radius: 10px;
    padding: 0.35em;
    box-shadow: 0px 8px #5430304f;
    text-align: center;


    &--font-weight-200 {
      font-weight: 200;
    }

    @media only screen and (min-width: 768px){
      // text
    }
   }

   &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: hsl(154, 59%, 51%);
    margin-top: 1em;
    margin-bottom: 1em;
    height: 3em;
    border-radius: 5px;
    height: 5em;
    box-shadow: 0px 4px #47aa73;
    cursor: pointer;

    &:hover {
      background-color: hsl(154, 68%, 67%);
     }
    &:active{
      transform: translateY(4px);
      box-shadow: 0px 1px #39865c;

    }
    &--text-size-16{
      font-size: 1.6em;
    }
   }

   &__input {
     margin-top: 0.8em;
     margin-bottom: 0.8em;
     border: solid lightgrey 1px;
     border-radius: 5px;
     height: 4em;
     color:#747474;
     padding-left: 2em;
     font-weight: bold;
     font-size: 1.3em;
     font-weight: 600;

     &:hover {
      border: solid hsl(248, 32%, 49%) 1px;
     }

     @media only screen and (min-width: 768px){
      // text
      padding-left: 3em;
    }
   }

   &__small-print {
     font-size: 1em;
     display: flex;
     justify-content: center;
     color: hsl(246, 25%, 77%);
     font-weight: 500;

     flex-flow: column;
     text-align: center;

     &--important {
       font-weight: bold;
       color: hsl(0, 100%, 74%) ;
     }

     @media only screen and (min-width: 768px){
      // text
    }
   }

   &--box-shadow {
    box-shadow: 0px 8px #5430304f;
   }
 }
